{% extends '/admin/admin.main.twig' %}

{% block main %}
    <div class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
        {% if session().hasFlash('success') %}
            {% for message in session().flash('success') %}
                <div class="alert alert-success mt-2" role="alert">
                    <p class="mb-0 text-bold">{{ message }}</p>
                </div>
            {% endfor %}
        {% endif %}
        <div class="h-100 mt-4 bg-light">
            <table class="table table-sm">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Title</th>
                    <th scope="col">Author</th>
                    <th scope="col">Year</th>
                    <th scope="col">ISBN</th>
                    <th scope="col">Created At</th>
                    <th class="text-center" scope="col">Delete book</th>
                </tr>
                </thead>
                <tbody>
                {% for book in books %}
                    <tr id="book-{{ book.bookId }}">
                        <th scope="row">{{ loop.index }}</th>
                        <td>{{ book.title }}</td>
                        <td>{{ book.getFullName() }}</td>
                        <td>{{ book.year }}</td>
                        <td>{{ book.isbn }}</td>
                        <td>{{ book.time }}</td>
                        <td class="text-center">
                            <button type="button" class="btn btn-danger" data-book-id="{{ book.bookId }}"
                                    onclick="deleteBook(this)">Delete
                            </button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <script src="/views/assets/js/deleteBook.js"></script>
{% endblock %}