{% extends '/templates/base.html.twig' %}

{% block content %}
    {{ include('/templates/basenav.html.twig') }}
    {# НАЧАЛО #}

    {# ДАННЫЕ
        {{ book.title }}
        {{ book.authorName }}
        {{ book.year }}
        {{ book.isbn }}
        {{ book.genre }}
        {{ book.description }}
        {{ book.image }}
    #}

    {# КОНЕЦ #}

    <div id="hidden" data-tag="{{ book.tag }}" hidden></div>
    <script src="/views/assets/js/bookPage.js"></script>

    {{ include('/templates/basefooter.html.twig') }}
{% endblock %}