{% extends '/admin/admin.main.twig' %}

{% block main %}
    <div class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
        {% if session().hasFlash('error') %}
            {% set output = session().flash('error')[0] %}
            {% set data = output['data'] %}
            <div class="alert alert-danger mt-2" role="alert">
                <p class="mb-0 text-bold">{{ output['error'] }}</p>
            </div>
        {% endif %}
        <div class="d-flex justify-content-center align-items-center h-100 mt-4 bg-light">
            <form class="w-75" method="post" action="/admin/add-book" enctype="multipart/form-data">
                <div class="form-group">
                    <label class="text-primary" for="exampleInputEmail1">Book title</label>
                    <input type="text" class="form-control" name="title" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter book name" required value="{{ data['title'] }}">
                </div>
                <div class="d-flex justify-content-center" style="gap: 10%">
                    <div class="form-group">
                        <label class="text-primary" for="exampleInputFirstName">Author first name</label>
                        <input type="text" class="form-control" name="first_name" id="exampleInputFirstName" aria-describedby="emailHelp" placeholder="Enter first name" required value="{{ data['first_name'] }}">
                    </div>
                    <div class="form-group">
                        <label class="text-primary" for="exampleInputLastName">Author last name</label>
                        <input type="text" class="form-control" name="last_name" id="exampleInputLastName" aria-describedby="emailHelp" placeholder="Enter last name" required value="{{ data['last_name'] }}">
                    </div>
                    <div class="form-group">
                        <label class="text-primary" for="exampleInputYear">Publication year (ex. 2000)</label>
                        <input type="text" class="form-control" name="year" id="exampleInputYear" aria-describedby="emailHelp" placeholder="2000" required value="{{ data['year'] }}">
                    </div>
                    <div class="form-group">
                        <label class="text-primary" for="exampleInputIsbn">ISBN</label>
                        <input type="text" name="isbn" class="form-control" id="exampleInputIsbn" placeholder="Enter ISBN" required value="{{ data['isbn'] }}">
                        <small id="emailHelp" class="form-text text-muted">ISBN is a unique number with 13 numbers.</small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="text-primary" for="exampleFormControlSelect2">Example multiple select</label>
                    <select class="form-control" name="genre[]" id="exampleFormControlSelect2" multiple required>
                        <option value="horror">Horror</option>
                        <option value="drama">Drama</option>
                        <option value="fantasy">Fantasy</option>
                        <option value="roman">Roman</option>
                        <option value="comedy">Comedy</option>
                        <option value="adventure">Adventure</option>
                        <option value="documentary">Documentary</option>
                        <option value="documentary">Mystery</option>
                        <option value="Novel">Novel</option>
                    </select>
                    <small id="emailHelp" class="form-text text-muted">Hold CTRL for multiply choice.</small>
                </div>
                <div class="form-group">
                    <label class="text-primary" for="exampleFormControlTextarea1">Description</label>
                    <textarea class="form-control" name="description" id="exampleFormControlTextarea1" rows="3">{{ data['description'] }}</textarea>
                </div>
                <div class="form-group">
                    <label class="text-primary" for="exampleFormControlFile1">Book image</label>
                    <input type="file" name="image" class="form-control-file" id="exampleFormControlFile1" required>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
{% endblock %}