{% extends '/admin/admin.main.twig' %}

{% block main %}
    {% if session().hasFlash('error') %}
        {% set output = session().flash('error')[0] %}
        {% set data = output['data'] %}
    {% endif %}
    <div class="container">
        <div class="d-flex justify-content-center">
            <nav class="nav nav-pills flex-column flex-sm-row" style="gap: 10px">
                <button type="button"
                        class="tabLinks btn btn-outline-primary active" id="generalAddButton">General adding
                </button>
                <button type="button" class="tabLinks btn btn-outline-primary" id="csvUploadButton">CSV file upload
                </button>
            </nav>
        </div>
        <div id="generalForm" class="tabContent" style="display: flex; justify-content: center;">
            <form style="width: 90% !important;" method="post" action="/admin/book/add" enctype="multipart/form-data">
                <div class="form-group">
                    <label class="text-primary" style="font-size: 16px; font-weight: bold" for="exampleInputEmail1">Book
                        title</label>
                    <input type="text" class="form-control" name="title" id="exampleInputEmail1"
                           aria-describedby="emailHelp" placeholder="Enter book name" required
                           value="{{ data['title'] }}">
                </div>
                <div class="d-flex justify-content-center" style="gap: 10%">
                    <div class="form-group">
                        <label class="text-primary" style="font-size: 16px; font-weight: bold"
                               for="exampleInputFirstName">Author first name</label>
                        <input type="text" class="form-control" name="first_name" id="exampleInputFirstName"
                               aria-describedby="emailHelp" placeholder="Enter first name" required
                               value="{{ data['first_name'] }}">
                    </div>
                    <div class="form-group">
                        <label class="text-primary" style="font-size: 16px; font-weight: bold"
                               for="exampleInputLastName">Author last name</label>
                        <input type="text" class="form-control" name="last_name" id="exampleInputLastName"
                               aria-describedby="emailHelp" placeholder="Enter last name" required
                               value="{{ data['last_name'] }}">
                    </div>
                    <div class="form-group">
                        <label class="text-primary" style="font-size: 16px; font-weight: bold" for="exampleInputYear">Publication
                            year (ex. 2000)</label>
                        <input type="text" class="form-control" name="year" id="exampleInputYear"
                               aria-describedby="emailHelp" placeholder="2000" required value="{{ data['year'] }}">
                    </div>
                    <div class="form-group">
                        <label class="text-primary" style="font-size: 16px; font-weight: bold" for="exampleInputIsbn">ISBN</label>
                        <input type="text" name="isbn" class="form-control" id="exampleInputIsbn"
                               placeholder="Enter ISBN" required value="{{ data['isbn'] }}">
                        <small id="emailHelp" class="form-text text-muted">ISBN is a unique number with 13
                            numbers.</small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="text-primary" style="font-size: 16px; font-weight: bold"
                           for="exampleFormControlSelect2">Example multiple select</label>
                    <select class="form-control" name="genre[]" id="exampleFormControlSelect2" multiple required>
                        <option value="horror">Horror</option>
                        <option value="drama">Drama</option>
                        <option value="fantasy">Fantasy</option>
                        <option value="roman">Roman</option>
                        <option value="comedy">Comedy</option>
                        <option value="adventure">Adventure</option>
                        <option value="documentary">Documentary</option>
                        <option value="mystery">Mystery</option>
                        <option value="novel">Novel</option>
                    </select>
                    <small id="emailHelp" class="form-text text-muted">Hold CTRL for multiply choice.</small>
                </div>
                <div class="form-group">
                    <label class="text-primary" style="font-size: 16px; font-weight: bold"
                           for="exampleFormControlTextarea1">Description</label>
                    <textarea class="form-control" name="description" id="exampleFormControlTextarea1"
                              rows="3">{{ data['description'] }}</textarea>
                </div>
                <div class="form-group">
                    <label class="text-primary" style="font-size: 16px; font-weight: bold"
                           for="exampleFormControlFile1">Book image</label>
                    <input type="file" name="image" class="form-control-file" id="exampleFormControlFile1">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
                {% if output['error'] %}
                    <div class="alert alert-danger mt-2" role="alert">
                        <p class="mb-0 text-bold">{{ output['error'] }}</p>
                    </div>
                {% endif %}
            </form>
        </div>
        <div id="csvForm" class="tabContent" style="display: none;">
            <div class="d-flex align-items-center flex-column mt-5">
                <h4 class="text-danger fw-bold">Notice!</h4>
                <p style="width: 30%; text-align: center">
                    Uploading books data viw CSV file means that you <span class="fw-bold">do not</span> upload books
                    with preview images.
                    After downloading, all books will be automatically added to staged list, where you could update each
                    book.
                </p>
                <div>
                    <div class="upload-container">
                        <div class="upload-header">
                            <div class="folder-icon">📁</div>
                        </div>
                        <div class="upload-body">
                            <form action="/admin/book/add/csv" method="post" enctype="multipart/form-data">
                                <div class="upload-dropzone" id="dropzone">
                                    <p>Drag file(s) here to upload.</p>
                                    <p>Alternatively, you can select a file by</p>
                                    <input type="file" id="fileInput" name="csv[]" multiple hidden>
                                </div>
                                <div id="fileList" class="file-list"></div>
                                <div class="upload-footer d-flex justify-content-between">
                                    <button id="clearBtn" class=" btn btn-danger" disabled>Clear all</button>
                                    <button id="uploadBtn" class=" btn btn-secondary">Upload</button>
                                </div>
                            </form>
                            {% if session().hasFlash('errorCsv') %}
                                {% set output = session().flash('errorCsv')[0] %}
                                {% set data = output['data'] %}
                                <div class="alert alert-danger mt-4" role="alert">
                                    <p class="mb-0 text-bold">{{ output['error'] }}</p>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/views/assets/js/style/dragDrop.js"></script>
{% endblock %}